<ul>
  <% @talams.each do |talam| %>
<<<<<<< HEAD
    <li id="<%= talam.id %>"><a href="javascript:void(0)"><%= talam.name %></a></li>
=======
    <li><a href="javascript:void(0)"><%= talam.name %></a></li>
>>>>>>> develop
  <% end %>
</ul>
