@import "common";

@mixin base_font {
  font-family: verdana, sans-serif;
}

@mixin base_font_size {
  font-size: 0.8em;
}

@mixin menu_span {
  background: url(/images/menu_span.jpg);
}

@mixin menu_style {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

$menu_color: #848181;
$menu_alternate_color: #e3e3e2;

/* End of Less variable declaration */

.clear {
  clear: both;
}

body, select, input, textarea {
  @include base_font;
}

body {
  @include base_font_size;
}

body, ul {
  margin: 0px;
  padding: 0px;
}

.content {
  margin: auto;
  min-width: 960px;
  width: 80%;

  .header {
    height: 40px;
    margin-top: 10px;

    .logo {
      background: url(/images/logo.jpg) no-repeat;
      height: 35px;
      width: 165px;
    }
  }

  .body {
    .menu {
      height: 40px;
      @include rounded_corners(10px);
      @include menu_span;

      ul {
        list-style-type: none;
        height: 40px;

        li {
          float: left;
          display: inline-block;
          text-align: center;
        }

        li a {
          @include menu_style;
          height: 20px;
          padding: 10px;
          display: inline-block;
          width: 100px;
        }

        li#home a {
          background: $menu_color url(/images/home.png) center center no-repeat;
          @include rounded_corners_left(10px);
          width: 45px;
        }

        li.selected a {
          background-color: $menu_alternate_color;
        }

        li a:hover {
          background-color: $menu_alternate_color;
        }

        li a.home:hover {
          background-color: $menu_color;
        }
      }
    }

    .auto_completion {
      background-color: $auto_complete_background_color;
      border: solid 1px #000;

      ul {
        list-style-type: none;

        li {
          a {
            color: #000;
            display: block;
            padding: 0px 10px;
            text-decoration: none;
          }

          a:hover {
            background-color: $auto_complete_selected_color;
          }
        }

        li.selected {
          a {
            background-color: $auto_complete_selected_color;
          }
        }
      }
    }

    .page_content {
      margin-top: 15px;
      padding: 0px 10px;
    }
  }

  .footer {
    border-bottom: solid 3px #125687;
    margin-top: 30px;
  }
}
