.left_content_dimension {
  width: 400px;
  height: 300px;
}
.font_heading {
  font-size: 1.5em;
  font-weight: bold;
}
.basic_background_color { background-color: #cccccc; }
.content .body .left {
  float: left;
  width: 300px;
}
.content .body .left .header {
  background-color: #cccccc;
  height: 20px;
  font-size: 1.5em;
  font-weight: bold;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  margin-top: 0px;
  padding: 10px 10px;
}
.content .body .left .body {
  border-right: solid 1px #cccccc;
  border-left: solid 1px #cccccc;
  padding: 5px 10px;
}
.content .body .left .body .section {
  margin: 10px 0px 0px 0px;
  line-height: 2em;
}
.content .body .left .body .section .input input { width: 97%; }
.content .body .left .body .section .input textarea { width: 97%; }
.content .body .left .body .section .input select { width: 100%; }
.content .body .left .body .section .input textarea { height: 60px; }
.content .body .left .footer {
  border: none;
  background-color: #cccccc;
  clear: both;
  height: 40px;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  margin-top: 0px;
}
.content .body .right {
  margin-left: 315px;
  margin-right: 5px;
}
.content .body .right #content .default {
  background: url(/images/arrow_left.jpg) bottom left no-repeat;
  padding: 85px 0px 0px 40px;
}
.content .body .right .editor_name h1 {
  font-size: 1.5em;
  font-weight: bold;
}
.content .body .right .editor { margin-bottom: 20px; }
.content .body .right .editor textarea {
  height: 150px;
  width: 100%;
}
