<div class="section editor" data-section-index="<%= index %>">
  <div class="title">
    <%= text_field_tag "song[#{index}][title]" %>
  </div>
  <%= text_area_tag "song[#{index}][body]", "" , :class => "rich_editor" %>
</div>
