<div class="song_editors">
  <% @song_compositions.map(&:name).each do |name| %>
    <fieldset>
      <div class="editor_name">
        <%= name %>
      </div>
      <div>
        <%= text_area_tag name, "", :class => "rich_editor" %>
      </div>
    </fieldset>
  <% end %>
  <div>
