<div class="left">
  <div class="header">
    <%= t(:song) %>
  </div>

  <div class="body">
    <ul>
      <% @songs.each do |song| %>
        <li><%= link_to song.name, edit_song_path(song) %></li>
      <% end %>
    </ul>
  </div>

  <div class="footer">
  </div>
</div>

<div class="right">
  <%= link_to t(:new_song), new_song_path %>
</div>
