@import "common";

@mixin base_font {
  font-family: verdana, sans-serif;
}

@mixin base_font_size {
  font-size: 0.8em;
}

@mixin menu_span {
  background: url(/images/menu_span.jpg);
}

@mixin menu_style {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.clear {
  clear: both;
}

body, select, input, textarea {
  @include base_font;
}

body {
  @include base_font_size;
}

body, ul {
  margin: 0px;
  padding: 0px;
}

@mixin app_width {
  margin: auto;
  min-width: $min_app_width;
  width: $app_width;
}

.content {

  .page_header {
    height: 70px;
    @include linear_gradient;
    @include shadow;

    .content {
      @include app_width;

      .logo {
        color: #000;
        display: inline-block;
        font-size: 21pt;
        padding: 5px 0px 0px 20px;
        text-shadow: 0px -1px 0px #374683;
        text-decoration: none;

        .tag {
          display: block;
          font-size: 8pt;
          padding: 2px;
          text-transform: uppercase;
          text-align: right;
        }
      }
    }
  }

  .page_body {
    border-top: none;
    @include rounded_corners;
    @include app_width;
    padding-bottom: 5px;

    .menu {
      background-color: $menu_color;
      height: 40px;
      @include rounded_corners_bottom(10px);
      @include linear_gradient($menu_gradient_start, $menu_gradient_stop);
      @include shadow;

      ul {
        list-style-type: none;
        height: 40px;
        padding-left: 10px;

        li {
          float: left;
          display: inline-block;
          margin: 0px 5px;
          text-align: center;
        }

        li a {
          @include menu_style;
          @include rounded_corners;
          height: 20px;
          padding: 5px;
          display: inline-block;
          width: 100px;
        }

        li.selected a {
          background-color: $menu_selected_color;
        }

        li a:hover {
          background-color: $menu_alternate_color;
        }

        li a.home:hover {
          background-color: $menu_color;
        }
      }
    }

    .auto_completion {
      background-color: $auto_complete_background_color;
      border: solid 1px #000;

      ul {
        list-style-type: none;

        li {
          a {
            color: #000;
            display: block;
            padding: 0px 10px;
            text-decoration: none;
          }

          a:hover {
            background-color: $auto_complete_selected_color;
          }
        }

        li.selected {
          a {
            background-color: $auto_complete_selected_color;
          }
        }
      }
    }

    .page_content {
      margin-top: 15px;
      padding: 0px 30px;
    }
  }

  .page_footer {
    margin-top: 30px;
  }
}
