@import "common";

.page_content {
  .body {
    label.error {
      color: $error_color;
    }
  }
  .header {
    margin-bottom: 15px;

    .bread_crumbs {
      font-size: 20px;
    }
    .action {
      float: right;

      a {
        @include rounded_corners;
        background-color: $border_color;
        border: solid 1px $border_color;
        color: #000;
        display: inline-block;
        padding: 5px 10px;
        text-decoration: none;
      }

      a:hover {
        background-color: $menu_alternate_color;
      }
    }
  }

  .body {
    table {
      border: solid 1px $border_color;
      border-top: none;
      border-bottom: none;
      width: 100%;

      tr td, tr th {
        padding: 7px 20px;
        text-transform: lowercase;
      }

      thead tr {
        background-color: $table_header_bg_color;
        th {
          font-weight: normal;
          text-align: left;
        }
      }

      tbody tr td {
        border-bottom: solid 1px $border_color;
      }
    }
  }
}
