<ul>
  <% @composers.each do |composer| %>
<<<<<<< HEAD
    <li id=<%= composer.id %>><a href="javascript:void(0)"><%= composer.name %></a></li>
=======
    <li><a href="javascript:void(0)"><%= composer.name %></a></li>
>>>>>>> develop
  <% end %>
</ul>
