<div data-auto-complete="true">
  <div class="title">
    <%= label_tag field_name.downcase, label.capitalize %>
  </div>
  <div class="input" data-auto-complete-url="<%= url %>">
    <%= form_helper.hidden_field(name, "data-auto-complete-hidden" => "true") %>
    <%= form_helper.text_field "#{field_name.downcase}", "data-auto-complete-input" => "true" %>
    <div class="auto_completion" data-auto-complete-completion="true" style="display: none"></div>
  </div>
</div>
